body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}