<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--码问官方公众号-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>码问官方公众号</h4>
        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
    </div>
    <script>
        function clickSide(label) {
            gtag('event', 'click', {
                'event_category': 'LINK',
                'event_label': label,
                'transport_type': 'SIDE'
            })
        }
    </script>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side"
         th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('SIDE')}">
        <a th:href="${ad.url}" th:onclick="clickSide([[${ad.title}]])"
           target="_blank">
            <img class="img-thumbnail question-wechat" th:src="${ad.image}">
        </a>
    </div>

</div>
</body>
</html>
