<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--码问官方公众号-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>码问官方公众号</h4>
        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
    </div>
    <!--极客时间-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <a href="http://gk.link/a/103Vl" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'GEEKTIME','transport_type': 'SIDE'})">
            <img class="img-thumbnail question-wechat" src="/images/geektime.jpeg">
        </a>
    </div>
    <!--超级简历-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <a href="https://gio.ren/w/nP2AqLRm" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'WONDERCR','transport_type': 'SIDE'})">
            <img class="img-thumbnail question-wechat" src="/images/wondercv.png">
        </a>
    </div>
</div>
</body>
</html>
