<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频详情</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 30px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <iframe src="" th:src="@{//player.bilibili.com/player.html(aid=${aid},page=${page})}" scrolling="no"
                            border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                            style="width: 100%;min-height:450px"></iframe>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            视频选集 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/video(page=1,aid=${aid})}">P1 开篇介绍</a></li>
                            <li><a th:href="@{/video(page=2,aid=${aid})}">P2 快速搭建 Spring Boot 项目</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 30px;">
                <h4>视频笔记</h4>
                这里是笔记
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 30px;">
            <h4>评论区</h4>
            这里是评论
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>